# Ignore build results
bin/
obj/
[Bb]uild/
[Bb]uilds/

# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates

# Rider project files
.idea/

# VS Code settings
.vscode/

# Backup & temporary files
*.tmp
*.bak
*.swp

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Azure local files
*.azurePubxml

# Database files
*.mdf
*.ldf

# Publish outputs
*.Publish.xml

# NPM packages
node_modules/

# Logs
*.log

# Others
*.dbmdl
*.jfm

# Mac junk
.DS_Store
